<style>
  .plusminus {
    float: right;
  }
</style>
<div class="page-width page-width--narrow section-{{ section.id }}-padding static-pages">
  <h1 class="main-page-title page-title h0">
    {{ page.title | escape }}
  </h1>
  <div class="rte">
    <div class="accordion_container">
      {% for block in section.blocks %}
        <div class="accordion_head question_div">
          {{ block.settings.question1 -}}
          <span class="plusminus">+</span>
        </div>
        <div class="accordion_body ans_div" style="display: none;">
          {{ block.settings.answer1 }}
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script>
   $(document).ready(function() {
   //toggle the component with class accordion_body
     $(".accordion_head").click(function() {
       if ($('.accordion_body').is(':visible')) {
         $(".accordion_body").slideUp(300);
         $(".plusminus").text('+');
       }
       if ($(this).next(".accordion_body").is(':visible')) {
         $(this).next(".accordion_body").slideUp(300);
         $(this).children(".plusminus").text('+');
       } else {
         $(this).next(".accordion_body").slideDown(300);
         $(this).children(".plusminus").text('-');
       }
     });
  });
</script>
{% schema %}
{
  "name": "FAQ Section",
  "settings": [],
  "blocks": [
   {
     "name": "FAQ Accordian",
     "type": "faq-accordian",
     "settings": [
       {
          "type": "richtext",
          "id": "question1",
          "label": "Question"
       },
       {
          "type": "richtext",
          "id": "answer1",
          "label": "Answer"
       }
     ]
   }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
