<div class="pic-start-background">
  <div class="page-width">
    <div class="grid grid--4-col-desktop pick-start">
      {% for block in section.blocks %}
        <div class="grid__item pick-start-content">
          <div class="image-outer">
            <div class="image-inner">
              <img src="{{ block.settings.image | img_url:"master" }}">
            </div>
          </div>
          <div class="heading">
            {{ block.settings.header }}
          </div>
          <div class="content">
            {{ block.settings.content }}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Pick Start",
    "class":"pick-start",
    "settings": [
      {
        "type": "image_picker",
        "id": "background-image",
        "label": "Background Image"
      }
    ],
    "blocks": [
     {
       "name": "Pick Start",
       "type": "pick-start",
       "settings": [
         
         {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "header",
            "label": "Header"
          },
          {
            "type": "textarea",
            "id": "content",
            "label": "Content"
          }
       ]
     }
    ],
    "presets":[
      {
        "name":"Pick Start"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}