<div class="page-width">
  <div class="top-bar">
    <div class="email-icon">
      <img src="https://cdn.shopify.com/s/files/1/0682/5666/1821/files/message.png?v=1669700092">
      <span>info@kingorgfoods.com</span>
    </div>
    <div class="shipping-text">For Free Shipment Refer to Quantity Order Requirements</div>
    <div class="phone-icon">
      <img src="https://cdn.shopify.com/s/files/1/0682/5666/1821/files/call.png?v=1669700281">
      <span>(888) 221-1493</span>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Top Header",
  "class":"top-header",
  "settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
