<link
  href="https://www.jqueryscript.net/demo/Cloud-Zoom-Image-Zoom-jQuery-Plugin/css/cloud-zoom.css"
  rel="stylesheet"
  type="text/css"
>

<div class="demo">
  <div class="zoom-section">
    <div class="zoom-small-image">
      <a
        href="https://www.jqueryscript.net/demo/Cloud-Zoom-Image-Zoom-jQuery-Plugin/images/bigimage00.jpg"
        class="cloud-zoom"
        id="zoom1"
        rel="adjustX:10, adjustY:-4"
        ><img
          src="https://www.jqueryscript.net/demo/Cloud-Zoom-Image-Zoom-jQuery-Plugin/images/smallimage.jpg"
          alt=""
          title="Optional title display"
      ></a>
    </div>
  </div>
  <!-- zoom-section end -->
</div>
