<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="{{ 'imagezoom.js' | asset_url }}"></script>

<div class="container" style="margin-top:150px;">
  <h1>jQuery imagezoom plugin demos</h1>
  <div class="row">
    <h2>Basic</h2>
    <div>
      <img
        src="https://images.unsplash.com/photo-1643883795658-514b79d93c6f?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=400&ixid=MnwxfDB8MXxyYW5kb218MHx8fHx8fHx8MTY3MzkzNTU2NQ&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=300"
        data-imagezoom="true"
      >
    </div>
  </div>
</div>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
